html {
  background-color: #000000;
  scrollbar-color: #ffffff #000000;
  scrollbar-width: thin;
}
body, h1, h2, h3, p {
  margin: 0;
}
a {
  text-decoration: none;
  color: #ffa9c7;
}
img {
  position: static !important;
  height: auto !important;
}